### NUMBERS

### Write an equation using multiplication, division , an exponent, addition and substraction that is equal to 125.26

In [ ]:
a=5*(5**2)+(1/(4-.16))
print('%.2f'%a)

125.26

### Answer these three questions without typing code. then type code to check your answer 

- What is the value of expression 4 * (6 + 5)
- What is the value of expression 4 * 6 + 5
- What is the value of expression 4 + 6 * 5

In [ ]:
myans1=44
print(4*(6+5))  #for checking ans

44

In [ ]:
myans2=29
print(4*6+5)  #for checking ans

29

In [ ]:
myans3=34
print(4+6*5)  #for checking ans

34

### What is the type of the result of the expression 3 + 1.5 + 4?

In [ ]:
float

float

### What would you use to find the nnumber's square root, as well as square?

In [ ]:
# Square root: we will use exponent operator( ** ) as n**(.5)

In [ ]:
# Square:  we will use exponent operator( ** ) as n**(2)

# STRINGS

### Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below.

In [ ]:
s = 'hello'
print(s[1])# Print out 'e' using indexing

e

### Reverse the string 'hello' using slicing

In [ ]:
s = 'hello'
print(s[::-1])
# Reverse the string using slicing

olleh

### Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s = 'hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [ ]:
# Method 2:
print(s[-1])

o

# LISTS

### Build this list [0,0,0] in two separate ways

In [ ]:
# Method 1:
list1=[0,0,0]
print(list1)

[0, 0, 0]

In [ ]:
# Method 2:
l1=[0,0]
l2=[0]
l3=l1+l2
print(l3)

[0, 0, 0]

### Reassign 'hello' in this nested list to say 'goodbye' instead

In [ ]:
list1 = [1,2,[3,4,'hello']]
list1[2][2]="goodbye"
print(list1)

[1, 2, [3, 4, 'goodbye']]

### Sort the list bellow:

In [ ]:
list2 = [5,3,4,6,1]
list2.sort()
print(list2)

[1, 3, 4, 5, 6]

# DICTIONARIES

### Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
print(d['simple_key'])
# Grab 'hello'

hello

In [ ]:
d = {'k1':{'k2':'hello'}}
print(d['k1']['k2'])
# Grab 'hello'

hello

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1][0])

# Grab 'hello'

hello

In [ ]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# Grab 'hello'
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

### Can you sort a dictionary? Why or why not?

In [ ]:
In older versions of python below 3.6 version ,It is not possible to sort a dictionary, only to get a representation of a dictionary that is sorted. Dictionaries are inherently orderless, but other types, such as lists and tuples, are not. So you need an ordered data type to represent sorted values, which will be a listâ€”probably a list of tuples.

# TUPLES

### What is the major difference between tuples and lists?

In [ ]:
The the major difference between tuples and lists is that tuples are immutable that means it cannot be modified whereas list are mutable.

### How do you create a tuple?

In [ ]:
We can create a tuple by defining the items within parentheses () where items are separated by commas.
for example- t=(1,3,5,2)

# SETS

### Use a set to find the unique values of the list bellow:

In [ ]:
list3 = [1,2,2,33,4,4,11,22,3,3,2]
set(list3)   #it will print all the unique values in present in given list3 i.e- {1,2,3,4,11,22,33}

{1, 2, 3, 4, 11, 22, 33}

# BOOLEANS

### What will be the resulting Boolean of the following pieces of code (answer first them check by typing it in!)

In [ ]:
2 > 3  #it will result in False

False

In [ ]:
3 <= 2   #it will result in False

False

In [ ]:
3 == 2.0   #it will result in False

False

In [ ]:
3.0 == 3   #it will result in True

True

In [ ]:
4**0.5 != 2   #it will result in False

False

### What is the boolean output of the cell block below?

In [ ]:
#  two nested lists
1_one = [1,2,[3,4]]
2_two = [1,2,{'k1':4}]

# True or False?
1_one[2][0] >= 1_two[2]['k1']

#it will result in False as 3 is not greater than or equal to 4     (this will only work when the names of lists got valid as it shouldn't use digit at starting)

SyntaxError: ignored

## GOOD JOB!!