<a href="https://colab.research.google.com/github/Nitinyadav97/Trapis-Python-Training-exercises/blob/main/Exercise_8_Advanced_Python_objects_and_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Python Objects and Data Structures

## Advanced Numbers
#### Convert 1024 to binary and hexadecimal representation

In [1]:
print(bin(1024))
print(hex(1024))

0b10000000000
0x400

#### Round 5.23222 to two decimal places

In [2]:
print(round(5.23222,2))

5.23

## Advanced Strings

#### Check if every letter in the string s is lower case

In [3]:
s = 'hello how are you Mary, are you feeling okay?'
print("Yes") if s.islower() else print("No")

No

#### How many times does the letter 'w' show up in the string below?

In [4]:
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'
print(s.count('w'))

12

## Advanced Sets

#### Find the elements in set1 that are not in set2

In [7]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

print(set1.difference(set2))

{2}

#### Find all elements that are in either set

In [8]:
print(set1.union(set2))

{1, 2, 3, 5, 6, 7, 8}

## Advanced Dictionaries

#### Create this dictionary: {0: 0, 1: 1, 2: 8, 3: 27, 4: 64} using a dictionary comprehension.

In [10]:
print({i:i**3 for i in range(5)} )

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

## Advanced Lists

#### Reverse the list below

In [14]:
list1 = [1,2,3,4]
(list1.reverse())
list1

[4, 3, 2, 1]

#### Sort the list below in reverse order

In [15]:
list2 = [3,4,2,5,1]
list2.reverse()
list2.sort()
print(list2)

[1, 2, 3, 4, 5]

## Great Job!