<a href="https://colab.research.google.com/github/Nitinyadav97/Trapis-Python-Training-exercises/blob/main/Exercise2_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Statements

### Use for, .split() and if to create a statement that will print out the words that start with 's':

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
# Code Here
st = 'Print only the words that start with s in this sentence'
s=st.split()

for i in s:
  if i[0]=='s':
    print(i)

start
s
sentence

### Use range() to print out all even numbers from 0 to 50

In [ ]:
# Code Here

for i in range(2,51,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### Use a List Comprehension to create a list of all the numbers between 1 and 50 that are divisible by 3

In [ ]:
# Code Here
lst=[i for i in range(1,51) if i%3==0]
print(lst)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

### Go through the string below and if the length of a word is even print 'even!'

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
# Code Here
st = 'Print every word in this sentence that has an even number of letters'
strng=st.split()
for i in strng:
  if len(i)%2==0:
    print(i)

word
in
this
sentence
that
an
even
number
of

### Write a program that prints the integers from 1 to 100. But for multiples of three print 'Fizz' instead of the number, and for the multiples of five print 'Buzz'. For numbers which are multiples of both three and five print 'FizzBuzz'.

In [ ]:
# Code Here
for i in range(1,101):
  if(i%5==0 and i%3==0):
    print("FizzBuzz")
  elif(i%5==0):
    print("Buzz")
  elif(i%3==0):
    print("Fizz")
  else:
    print(i)

### Use List Comprehension to create a list of the first letters of every word in the string below:

In [ ]:
st = 'Create a list of the first letters of every word in this string'

In [ ]:
# Code Here
st = 'Create a list of the first letters of every word in this string'
s=st.split()
lst=[i[0] for i in s ]
print(lst)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

## GREAT JOB!!