<a href="https://colab.research.google.com/github/Nitinyadav97/Trapis-Python-Training-exercises/blob/main/Exercise3_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function Practice Exercises

### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

 - lesser_of_two_evens(2,4) --> 2
 - lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
      print (a) if a<b else print(b)
    else:
      print (a) if a>b else print(b)

In [ ]:
# Check
lesser_of_two_evens(2,4)

2

In [ ]:
# Check
lesser_of_two_evens(2,5)

5

### ANIMAL CRACKERS: Write a function that takes a two-word string and returns True if both words begin with same letter

- animal_crackers('Levelheaded Llama') --> True
- animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    lst=text.split()
    if lst[0][0]==lst[1][0]:
      return True
    else :
      return False

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

True

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

False

### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> 'MacDonald'

In [ ]:
def old_macdonald(name):
    print (name[0].capitalize() + name[1:3]+ name[3].capitalize() + name[4:] )

In [ ]:
# Check
old_macdonald('macdonald')

MacDonald

### MASTER YODA: Given a sentence, return a sentence with words reversed

- master_yoda('I am home') --> 'home am I'
- master_yoda('We are ready') --> 'ready are We'

In [ ]:
def master_yoda(text):

    s=' '
    lst=text.split()
    l=[i for i in reversed(lst)] 
    
    print(s.join(l))

In [ ]:
# Check
master_yoda('I am home')

home am I

In [ ]:
# Check
master_yoda('We are ready')

ready are We

### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

- almost_there(90) --> True
- almost_there(104) --> True
- almost_there(150) --> False
- almost_there(209) --> True

In [ ]:
def almost_there(n):
    print(True) if n in range(90,111) or n in range(190,211) else print(False)

In [ ]:
# Check
almost_there(90)

True

In [ ]:
# Check
almost_there(104)

True

In [ ]:
# Check
almost_there(150)

False

In [ ]:
# Check
almost_there(209)

True

### LAUGHTER: Write a function that counts the number of times a given patterns appears in a string, inclusing overlap

laughter('hah','hahahah') --> 3

In [ ]:
def laughter(pattern,text):
    l1=len(pattern)
    l2=len(text)
    c=0

    for i in range(0,l2):
      if pattern in text[i:l1+i]:
        c=c+1
    print (c)

In [ ]:
# Check
laughter('hah','hahahah')

3

### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

- paper_doll('Hello') --> 'HHHeeellllllooo'
- paper_doll('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
def paper_doll(text):
    x=''
    
    for i in text:
      x=x+i+i+i
    print(x)

In [ ]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [ ]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, of the sum (even after adjustment) exceeds 21, return 'BUST'

- blackjack(5,6,7) --> 18
- blackjack(9,9,9) --> 'BUST'
- blackjack(9,9,11) --> 19

In [ ]:
def blackjack(a,b,c):
    s= a+b+c
    print(s) if s<=21 else print(s-10) if a==11 or b==11 or c==11 else print('BUST')

In [ ]:
# Check
blackjack(5,6,7)

18

In [ ]:
# Check
blackjack(9,9,9)

BUST

In [ ]:
# Check
blackjack(9,9,11)

19

### SUMMER OF 69: Return the sum of the numbers in the array, except ignore sections of the numbers starting with a 6 and extending to the next 9(every 6 will be followed by at least one 9). Return 0 for no numbers.

- summer_69([1, 3, 5]) --> 9
- summer_69([4,5,6,7,8,9]) --> 9
- summer_69([2,1,6,9,11]) --> 14

In [ ]:
def summer_69(arr):
    s=0
    lst=arr[:]
    for i in range(len(arr)):
      if(arr[i]==6):
        i6 = lst.index(6)
        i9 = lst.index(9)
        del lst[i6:i9+1] 
    for i in range(len(lst)):  
      s=s+lst[i]
    print(s)

In [ ]:
# Check
summer_69([1, 3, 5])

9

In [ ]:
# Check
summer_69([4,5,6,7,8,9])

9

In [ ]:
# Check
summer_69([2,1,6,9,11])

14

## Challenge Problems

### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

- spy_game([1,2,4,0,0,7,5]) --> True
- spy_game([1,0,2,4,0,5,7]) --> True
- spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    c=0
    for i in range(len(nums)):
      if nums[i]==0 and c==0:
        c=1
      if nums[i]==0 and c==1:
        c=2
      if nums[i]==7 and c==2:
        c=3
    
    if c==3:
      return True
    else:
      return False

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

False

### COUNT PRIMES: Write a function that returns the number of prime numbers that exists up to and including a given number

count_primes(100) --> 25

- By convention, 0 and 1 are not prime

In [ ]:
def count_primes(num):
      count = 0
      primes = [False for i in range(num+1)]
      for i in range(2,num):
         if primes[i] == False:
            count+=1
            j = 2
            while j*i<num:
               primes[j*i] = True
               j+=1
      return count

In [ ]:
# Check
count_primes(100)

25

## GOOD JOB!!